body{
    font-family: Courier, sans-serif;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.vals{
    width: 40px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
}

#n1{
    margin-right: 20px;
}

#n2{
    margin-left: 20px;
}

#prompt{
    color: red;
    text-decoration: underline;
}

#correct{
    color: green;
    margin-right: 20px;
}

#incorrect{
    color: red;
}